{{define "newUser"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "head" .}}
    </head>
    <body>
        {{template "nav" .}}

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {{ if .Error }}
                        <div class="alert alert-danger" role="alert">
                            {{.Error}}
                        </div>
                    {{ end}}
                    <form method="POST">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>
{{end}}
